JavascriptAdvanced/9. PROTOTYPES AND INHERITANCE/~$. JS-Advanced-Prototypes-and-Inheritance-Lab.docx
JavascriptAdvanced/9. PROTOTYPES AND INHERITANCE - EXERCISE/~$. JS-Advanced-Prototypes-and-Inheritance-Exercise.docx
JavascriptAdvanced/EXAM PREP/01. SoftUni Administration Skeleton.zip
JavascriptAdvanced/EXAM PREP/01. SoftUni Administration.docx
JavascriptAdvanced/EXAM PREP/02. Parking.docx
JavascriptAdvanced/EXAM PREP/03. Pizza Place.docx
JavascriptAdvanced/EXAM PREP/01. SoftUni Administration Skeleton/Skeleton/index.html
JavascriptAdvanced/EXAM PREP/01. SoftUni Administration Skeleton/Skeleton/styles.css
JavascriptAdvanced/9. PROTOTYPES AND INHERITANCE - EXERCISE/03. JS-Advanced-Prototypes-and-Inheritance-Exercise.docx
JavascriptAdvanced/EXAM PREP/02. Employees_Problem Description.docx
JavascriptAdvanced/EXAM PREP/01. Christmas Gifts Delivery_Ресурси/homeImage.jpeg
JavascriptAdvanced/EXAM PREP/01. Christmas Gifts Delivery_Ресурси/index.html
JavascriptAdvanced/EXAM PREP/01. Christmas Gifts Delivery_Ресурси/styles.css
JavascriptAdvanced/EXAM PREP/01. Christmas Gifts Delivery_Условия.docx
JavascriptAdvanced/EXAM PREP/02. Christmas Dinner_Условия.docx
JavascriptAdvanced/EXAM PREP/03. Dealership_Условия.docx
JavascriptAdvanced/EXAM PREP/~$. Christmas Dinner_Условия.docx
